html { 
    box-sizing: border-box;   
}

*, *:before, * {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    background-color: lightgray;
    color: white;
}

.main-container {
    margin: 0 auto;
    margin-top: 50px;
    width: 350px;
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Box shadow */
    transition: 0.3s; /* Adds a transition effect */
    background-color: black;
}

.top-container {
    width: 100%;
    height: 300px;
    padding: 3%;
    overflow: hidden;
}

.top-container img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Box shadow */
    transition: 0.3s; /* Adds a transition effect */
}

.name {
    display: flex;
    justify-content: center;
}

#developer p {
    color: #61DAFB;
}

h2 {
    margin-bottom: 3px;
}

.btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    border: none;
    padding: 15px 32px; /* Some padding */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Box shadow */
    transition: 0.3s; /* Adds a transition effect */
}

button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3); /* Changes the shadow on hover */
}

#email {
    background-color: white;
    color: black;
}

#linkedin {
    background-color: #0762C8;
    color: white;
}

.bottom-container {
    padding: 5%;
}

#intro p {
    opacity: 0.5;
}

h3 {
    color: #61DAFB;
}
